---
layout: layout.njk
---
<div class="home-container">
    <img class="landing-image" src="/images/home_image.webp" alt="">
    <div class="landing-text">
        <h1>World Of Woodfire</h1>
        <h4>A one stop location for all your woodfire cooking recipes</h4>
        <p>Welcome to World Of Woodfire – your ultimate destination for embracing the art and joy of woodfire
                cooking! Dive into a world where the dancing flames of a woodfire oven transform ordinary recipes into
                extraordinary culinary experiences. Whether you're a seasoned chef or a passionate home cook, our
                curated collection of woodfire cooking recipes is your go-to resource. From sizzling pizzas with
                perfectly charred crusts to mouthwatering dishes infused with the smoky essence of woodfire, we invite
                you to embark on a delicious journey with us. Explore, ignite your creativity, and let the warmth of
                woodfire elevate your culinary endeavors.</p>
    </div>
    <div class="recipe-cards">
        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_2.webp" alt="">
            </figure>

            <hgroup class="recipe-card-text">
                <a href="/recipe_2">
                    <h2>Margherita Pizza</h2>
                </a>
                <h4>The queen of woodfire pizzas</h4>
            </hgroup>
        </article>

        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_3.jpg" alt="">
            </figure>
            <hgroup class="recipe-card-text">
                <a href="/recipe_3">
                    <h2>Pizza Diavola</h2>
                </a>
                <h4>For when you need a bit of kick!</h4>
            </hgroup>
        </article>

        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_4.jpg" alt="">
            </figure>
            <hgroup class="recipe-card-text">
                <a href="/recipe_4">
                    <h2>Pesto Pizza</h2>
                </a>
                <h4>Fresh and light Neapolitan style pesto pizza</h4>
            </hgroup>
        </article>

        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_5.jpg" alt="">
            </figure>
            <hgroup class="recipe-card-text">
                <a href="/recipe_5">
                    <h2>Ham and Pineapple Pizza</h2>
                </a>
                <h4>Pineapple on pizza? We think so!</h4>
            </hgroup>
        </article>
    </div>
</div>