---
layout: layout.njk
---
    <main class="article-container">
        <header class="title-section">
            <figure>
                <img src="/images/recipe_4.jpg" alt="" class="recipe-image">
            </figure>
            <h1>Neapolitan Style Pesto Pizza</h1>
        </header>

        <article class="recipe-container">
            <section id="introduction">
                <p>Neapolitan-style pesto pizza combines the traditional, airy crust of Naples with the vibrant, herby
                    flavors of fresh basil pesto. This culinary masterpiece offers a delightful twist on the classic,
                    marrying the simplicity of Italian cooking with the rich, aromatic taste of pesto for a
                    mouthwatering experience.</p>
            </section>

            <section id="recipe-information">
                <section id="preparation">
                    <h2>Prep</h2>
                    <ul>
                        <li><i class="fa-solid fa-check"></i> Easy</li>
                        <li><i class="fa-solid fa-pizza-slice"></i> Serving: one 12 inch pizza</li>
                        <li><i class="fa-solid fa-mortar-pestle"></i> Prep Time: 10 mins</li>
                        <li><i class="fa-solid fa-utensils"></i> Cook Time: 2 mins</li>
                    </ul>
                </section>

                <section id="ingredients">
                    <h2>Ingredients</h2>
                    <ul>
                        <li><a href="/recipe_1">one 250 gram Neapolitan style dough ball</a></li>
                        </li>
                        <li>100 grams of fresh basil pesto</li>
                        <li>40 grams of fresh gargonzola</li>
                        <li>60 grams fresh mozzarella</li>
                        <li>25 grams of basil leaves</li>
                        <li>8A drizzle of olive oil</li>
                    </ul>
                </section>
            </section>

            <section id="instructions">
                <h2>Instructions</h2>
                <p>Fire up your woodfire pizza oven, aiming for 500 ˚C (930 ˚F) on the pizza stone. You can check the
                    temperature inside your oven quickly and easily using an infrared thermometer.</p>
                <p>Using a small amount of flour, dust your work surface and your pizza peel. </p>
                <p>Place a dough ball on your work surface lightly dusted with flour. Gently press the air from the
                    center outwards to the edges using your fingers. Stretch the dough to form a 12-inch (30-centimeter)
                    round base, keeping it on the countertop or laying the stretched dough over your floured pizza peel.
                </p>
                <p>Evenly distrubute the basil pesto followed by torn peices of fresh mozzarella and gargonzola.</p>
                <p>Launch your pizza into the oven and cook for 60 to 90 seconds, turning every 20 seconds with a
                    turning peel to ensure an even cook.</p>
                <p>Once done, remove the pizza from the oven, add the fresh basil leaves and a drizzle of olive oil.
                    Enjoy!</p>
            </section>
        </article>
    </main>