---
layout: layout.njk
---
<main class="article-container">

    <header class="title-section">
        <figure>
            <img src="/images/recipe_1.jpg" alt="" class="recipe-image">
        </figure>
        <h1>24 Hr Neapolitan Pizza Dough</h1>
    </header>
    <article class="recipe-container">
        <section id="introduction">
            <p>Neapolitan pizza is the most recognized in the world. True to Italian tradition, Neapolitan pizza is
                    made up of very few ingredients, water, salt, yeast and all-important flour. The taste and crunch
                    make all the difference, so watch as we pair it back and respect the simplicity of this fine dough.
                </p>
        </section>
        <section id="recipe-information">
            <section id="preparation">
                <h2>Prep</h2>
                <ul>
                    <li>
                        <i class="fa-solid fa-check"></i> Easy</li>
                    <li>
                        <i class="fa-solid fa-pizza-slice"></i> Makes: six 12 inch pizza bases</li>
                    <li>
                        <i class="fa-solid fa-mortar-pestle"></i> Prep Time: 30 mins</li>
                    <li>
                        <i class="fa-solid fa-utensils"></i> Proof Time: 24 hours</li>
                </ul>
            </section>

            <section id="ingredients">
                <h2>Ingredients</h2>
                <ul>
                    <li>922g Tipo 00 flour</li>
                    <li>553ml cool water</li>
                    <li>23g of fine sea salt</li>
                    <li>0.28g of active dry yeast</li>
                </ul>
            </section>
        </section>

        <section id="instructions">
            <h2>Instructions</h2>
            <p>Begin by adding water to a mixing bowl and dissolving the salt.</p>
            <p>Incorporate 10% of the flour while mixing either with your hands or a wooden spoon.</p>
            <p>Once a smooth, batter-like consistency is achieved, introduce the yeast, ensuring it dissolves (avoid
                    direct contact with salt to prevent damage to the yeast).</p>
            <p>Gradually mix in the remaining flour until you have a unified mass.</p>
            <p>Transfer the dough from the mixing bowl to the countertop and commence kneading. Knead the dough by
                    hand for 15-20 minutes or in a stand mixer at low speed for 10-15 minutes, aiming for a fairly
                    smooth dough with developed gluten and incorporated air.</p>
            <p>Cover the dough and allow it to rest for 15-30 minutes.</p>
            <p>Fold the dough over itself a few times, forming a smooth, round dough.</p>
            <p>Place the dough in an airtight container or in a bowl covered with plastic wrap, letting it rise for
                    approximately 14 hours.</p>
            <p>After 14 hours, retrieve the dough and divide it into dough balls of 250 grams each, ensuring they
                    are smooth and even for well-rounded pizzas.</p>
            <p>Position the dough balls in a lightly floured proofing box, allowing them to rise for an additional
                    10 hours. If a pizza proofing box isn't available, individual bowls with lids or covered with
                    plastic wrap will suffice.</p>
            <p>
                <b>For tips on forming the perfect dough balls, check out the video below</b>
            </p>
        </section>
    </article>
    
    <section id="video-container">
        <iframe src="https://www.youtube.com/embed/v5t5MEZt6LM" frameborder="0" id="video" height="auto"></iframe>
    </section>
</main>