---
layout: layout.njk
---

<main class="menu-container">
    <div class="menu-text">
        <h2>Check out our recipes below</h2>
    </div>

    <div class="menu-recipe-cards">
        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_1.jpg" alt="">
            </figure>
            <div class="recipe-card-text">
                <a href="/recipe_1">
                    <h2>24 Hr Neapolitan Pizza Dough</h2>
                </a>
                <h4>It all starts with a simple dough</h4>
            </div>
        </article>

        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_2.webp" alt="">
            </figure>
            <div class="recipe-card-text">
                <a href="/recipe_2">
                    <h2>Margherita Pizza</h2>
                </a>
                <h4>The queen of woodfire pizzas</h4>
            </div>
        </article>

        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_3.jpg" alt="">
            </figure>
            <div class="recipe-card-text">
                <a href="/recipe_3">
                    <h2>Pizza Diavola</h2>
                </a>
                <h4>For when you need a bit of kick!</h4>
            </div>
        </article>

        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_4.jpg" alt="">
            </figure>
            <div class="recipe-card-text">
                <a href="/recipe_4">
                    <h2>Pesto Pizza</h2>
                </a>
                <h4>Fresh and light Neapolitan style pesto pizza</h4>
            </div>
        </article>

        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_5.jpg" alt="">
            </figure>
            <div class="recipe-card-text">
                <a href="/recipe_5">
                    <h2>Ham and Pineapple Pizza</h2>
                </a>
                <h4>Pineapple on pizza? We think so!</h4>
            </div>
        </article>

        <article class="recipe-card">
            <figure>
                <img src="/images/recipe_6.jpg" alt="">
            </figure>
            <div class="recipe-card-text">
                <a href="/recipe_6">
                    <h2>Neapolitan Focaccia</h2>
                </a>
                <h4>Simplicity starts with the sauce. Try out our favourite sauce recipe</h4>
            </div>
        </article>
    </div>
</main>