<footer>
    <div class="footer-container">
        <a href="https://www.instagram.com/">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.tiktok.com/en/">
            <i class="fa-brands fa-tiktok"></i>
        </a>
        <a href="https://www.facebook.com/">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.youtube.com/">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </div>
</footer>