<header>
    <nav class="navbar">
        <h2>World Of Woodfire</h2>
        <a href="/recipes_menu" class="{{ 'active' if page.url === '/recipes_menu/' or page.url.endsWith('/recipes_menu/') }}">Recipes</a>
        <a href="/index" class="{{ 'active' if page.url === '/' or page.url === '/index/' }}">Home</a>
    </nav>
</header>
